.compare-container{
    height: 100%;
    width: 100%;
    .empty{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 3rem;
        flex-direction: column;
        button{
            cursor: pointer;
            border-radius: 6rem;
            padding: 2rem;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
}